
@{
    ViewBag.Title = "LinquKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Esteem  An Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
          Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />


    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />


</head>
<body>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dg1</h4>
                    <h3 class="ca-sub"> Kitap Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.dg2</h4>
                    <h3 class="ca-sub one">Üye Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.dg3</h4>
                    <h3 class="ca-sub two">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.dg4</h4>
                    <h3 class="ca-sub three">Ödünç verilen Kitaplar</h3>
                </div>
            </a>
        </li>
    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">@ViewBag.dg5</h4>
                    <h3 class="ca-sub four">Karegörü Sayımız</h3>
                </div>
            </a>
        </li>



        <li>
            <a href="#">

                <i class="glyphicon glyphicon-align-center" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dg6</h4>
                    <h3 class="ca-sub">En Aktif Üye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.dg7</h4>
                    <h3 class="ca-sub one">En Çok Okunan Kitap</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.dg8</h4>
                    <h3 class="ca-sub two">En Fazla Kitabı Olan Yazar</h3>
                </div>
            </a>
        </li>
    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-barcode" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.dg9</h4>
                    <h3 class="ca-sub three">En iyi Yayınevi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-certificate" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">@ViewBag.dg10</h4>
                    <h3 class="ca-sub four">En Başarılı Personel</h3>
                </div>
            </a>
        </li>



        <li>
            <a href="#">

                <i class="glyphicon glyphicon-cloud-download" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dg11</h4>
                    <h3 class="ca-sub">Toplam Mesaj Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-gift" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.dg12</h4>
                    <h3 class="ca-sub one">Bugünkü Emanet Verilen Kitaplar</h3>
                </div>
            </a>
        </li>
    </ul>
   

</body>
</html>